# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VENV
# =========================
venv/
env/
ENV/

# =========================
# ENV FILES
# =========================
.env

# =========================
# FLASK
# =========================
instance/
.webassets-cache

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# UPLOADS
# =========================
app/static/uploads/

# =========================
# MIGRATIONS CACHE
# =========================
migrations/__pycache__/

# =========================
# TESTS
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# NODE (PWA FUTURE)
# =========================
node_modules/

# =========================
# DOCKER
# =========================
docker-data/